<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="https://i.gadgets360cdn.com/large/artifact_game_story_youtube_1502273520420.jpg?output-quality=80">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="/css/home.css" type="text/css" rel="stylesheet">

        <title>The Universe of Artifacts</title>
    </head>

    <body>
        <div id="navigation_1">
            <header>
                <nav>
                    <img id="artifacty" src="https://i.gadgets360cdn.com/large/artifact_game_story_youtube_1502273520420.jpg?output-quality=80" title="Home">

                    <a id="facebook" href="https://www.facebook.com" target="_blank"><span class="fa fa-facebook" title="facebook"></span></a>
                    <a id="twitter" href="https://www.twitter.com" target="_blank"><span class="fa fa-twitter" title="twitter"></span></a>
                    <a id="youtube" href="https://www.youtube.com" target="_blank"><span class="fa fa-youtube" title="youtube"></span></a>

                    <a id="join" href="/login#tologin"><span title="insider">LOGIN</span></a>
                    <a id="sign" href="/login#toregister"><span title="sign in">SIGN IN</span></a>

                    <div id="bar_0">
                    </div>

                    <div id="bar_1">
                        <span>
                            <a style="color: gray" href="/news">LATEST NEWS</a>
                            <a style="color: gray" href="/list"><strong>Artifacts</strong></a>
                            <a style="color: gray" class="fa fa-search" href="/search"><strong> Search Location</strong></a>
                        </span>
                    </div>
                </nav>
            </header>
        </div> <!-- navigation_1 div -->

        <div id="navigation_2">
            <div id="bar_2">
                <nav>
                    <span>
                        <a></a>
                        <a></a>
                        <a></a>
                        <a></a>
                        <a></a>
                        <a></a>
                    </span>
                </nav>
            </div>
        </div> <!-- navigation_2 div -->

        <div id="container_1">
            <div class="bar_color">
            </div>

            <h2 class="absolute">ALL ARTIFACTS: THE UNIVERSE OF ARTIFACTS</h2>

            <div class="coloana_1">
                <a>
                    <img src="/artefacte/Armlet.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_2">
                <a>
                    <img src="/artefacte/b1374401_002.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_3">
                <a>
                    <img src="/artefacte/Bala.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_4">
                <a>
                    <img src="/artefacte/Celestial globe with clockwork.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_1">
                <a>
                    <img src="/artefacte/Coffin of Khnumnakht.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_2">
                <a>
                    <img src="/artefacte/Colt Third Model Dragoon Percussion Revolver, Serial Number 12406.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_3">
                <a>
                    <img src="/artefacte/Doublet.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_4">
                <a>
                    <img src="/artefacte/DP89.4.1191.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_1">
                <a>
                    <img src="/artefacte/DP111802.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_2">
                <a>
                    <img src="/artefacte/DP167328.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_3">
                <a>
                    <img src="/artefacte/DP256215.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_4">
                <a>
                    <img src="/artefacte/DP302645.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_1">
                <a>
                    <img src="/artefacte/DP302653.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_2">
                <a>
                    <img src="/artefacte/DP337268.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_3">
                <a>
                    <img src="/artefacte/DT1254.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_4">
                <a>
                    <img src="/artefacte/DT11710.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_1">
                <a>
                    <img src="/artefacte/DT1439.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_2">
                <a>
                    <img src="/artefacte/Queen Esther Approaching the Palace of Ahasuerus.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_3">
                <a>
                    <img src="/artefacte/Reliquary Casket with Scenes from the Martyrdom of Saint Thomas Becket.jpg" >
                </a>
                <p class="last"></p>
            </div>

            <div class="coloana_4">
                <a>
                    <img src="/artefacte/Travelling Boat being Rowed.jpg" >
                </a>
                <p class="last"></p>
            </div>

        </div> <!-- container_1 div -->

        <div id="bar_color">
            <div id="footer">
                <footer>&copy; Artifacty Office 2018</footer>
            </div>
        </div>

    </body>

</html>

