<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<title>Homework 3</title>
	</head>

	<body>
		<form method="POST" action="/">
			<br/>
			<label> Adresa: <input type="text" id="locationName" name="locationName"></label>
			<input type="submit" id="submit" name="submit" value="Submit">
			<br/>
		</form>
	</body>
</html>
